Import Libraries:

In [41]:
import pandas as pd
import numpy as np

Get the Data
Use pandas to read FullNewDatasett.csv as a dataframe called df.

In [42]:
df = pd.read_csv('FullNewDatasett-csv.csv')
df.head()

,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,0,20000,20000,20000,60 months,17.19%,499.10,C,6 years,RENT,...,13,33,4,15,5,98.0,75824,31546,33800,21524
1,1,21225,21225,21225,60 months,14.74%,502.05,C,10+ years,MORTGAGE,...,7,7,6,14,2,100.0,747075,209426,53500,128175
2,2,5000,5000,5000,36 months,17.97%,180.69,D,NaN,MORTGAGE,...,6,9,6,8,1,66.7,255738,31615,9400,39938
3,3,20000,20000,20000,36 months,8.19%,628.49,A,1 year,MORTGAGE,...,14,27,9,20,3,95.7,448069,84744,49400,105180
4,4,13500,13500,13500,36 months,7.56%,420.31,A,8 years,RENT,...,9,11,6,9,1,100.0,40200,9932,25100,0

In [43]:
df.shape

(115675, 70)

Check out the info(), head(), and describe() methods on loans.

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 115675 entries, 0 to 115674
Data columns (total 70 columns):
Column                            115675 non-null int64
loan_amnt                         115675 non-null int64
funded_amnt                       115675 non-null int64
funded_amnt_inv                   115675 non-null int64
term                              115675 non-null object
int_rate                          115675 non-null object
installment                       115675 non-null float64
grade                             115675 non-null object
emp_length                        104574 non-null object
home_ownership                    115675 non-null object
annual_inc                        115675 non-null float64
verification_status               115675 non-null object
issue_d                           115675 non-null object
loan_status                       115675 non-null object
purpose                           115675 non-null object
addr_state                        115675 non-null object
dti                               115418 non-null float64
earliest_cr_line                  115675 non-null object
mths_since_last_delinq            49876 non-null float64
open_acc                          115675 non-null int64
revol_bal                         115675 non-null int64
revol_util                        115546 non-null object
total_acc                         115675 non-null int64
initial_list_status               115675 non-null object
out_prncp                         115675 non-null float64
out_prncp_inv                     115675 non-null float64
total_pymnt                       115675 non-null float64
total_pymnt_inv                   115675 non-null float64
total_rec_prncp                   115675 non-null float64
total_rec_int                     115675 non-null float64
last_pymnt_d                      115440 non-null object
last_pymnt_amnt                   115675 non-null float64
next_pymnt_d                      111969 non-null object
last_credit_pull_d                115673 non-null object
application_type                  115675 non-null object
tot_cur_bal                       115675 non-null int64
open_act_il                       115675 non-null int64
mths_since_rcnt_il                112158 non-null float64
total_bal_il                      115675 non-null int64
il_util                           98356 non-null float64
open_rv_24m                       115675 non-null int64
max_bal_bc                        115675 non-null int64
all_util                          115651 non-null float64
total_rev_hi_lim                  115675 non-null int64
acc_open_past_24mths              115675 non-null int64
avg_cur_bal                       115668 non-null float64
bc_open_to_buy                    114352 non-null float64
bc_util                           114297 non-null float64
mo_sin_old_il_acct                112158 non-null float64
mo_sin_old_rev_tl_op              115675 non-null int64
mo_sin_rcnt_rev_tl_op             115675 non-null int64
mo_sin_rcnt_tl                    115675 non-null int64
mths_since_recent_bc              114417 non-null float64
mths_since_recent_inq             101318 non-null float64
mths_since_recent_revol_delinq    32896 non-null float64
num_actv_bc_tl                    115675 non-null int64
num_actv_rev_tl                   115675 non-null int64
num_bc_sats                       115675 non-null int64
num_bc_tl                         115675 non-null int64
num_il_tl                         115675 non-null int64
num_op_rev_tl                     115675 non-null int64
num_rev_accts                     115675 non-null int64
num_rev_tl_bal_gt_0               115675 non-null int64
num_sats                          115675 non-null int64
num_tl_op_past_12m                115675 non-null int64
pct_tl_nvr_dlq                    115675 non-null float64
tot_hi_cred_lim                   115675 non-null int64
total_bal_ex_mort                 115675 non-null int64
total_bc_limit                    115675 non-null int64
total_il_high_credit_limit        115675 non-null int64
dtypes: float64(22), int64(31), object(17)
memory usage: 61.8+ MB

In [45]:
df.head()

,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,0,20000,20000,20000,60 months,17.19%,499.10,C,6 years,RENT,...,13,33,4,15,5,98.0,75824,31546,33800,21524
1,1,21225,21225,21225,60 months,14.74%,502.05,C,10+ years,MORTGAGE,...,7,7,6,14,2,100.0,747075,209426,53500,128175
2,2,5000,5000,5000,36 months,17.97%,180.69,D,NaN,MORTGAGE,...,6,9,6,8,1,66.7,255738,31615,9400,39938
3,3,20000,20000,20000,36 months,8.19%,628.49,A,1 year,MORTGAGE,...,14,27,9,20,3,95.7,448069,84744,49400,105180
4,4,13500,13500,13500,36 months,7.56%,420.31,A,8 years,RENT,...,9,11,6,9,1,100.0,40200,9932,25100,0

In [46]:
df.describe()

,Column,loan_amnt,funded_amnt,funded_amnt_inv,installment,annual_inc,dti,mths_since_last_delinq,open_acc,revol_bal,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,1.156750e+05,115418.000000,49876.000000,115675.000000,115675.000000,...,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,115675.000000,1.156750e+05,1.156750e+05,115675.000000,1.156750e+05
mean,57837.000000,16671.263021,16671.263021,16668.039767,481.084266,8.505333e+04,20.445427,36.654864,11.723544,17859.725835,...,8.301630,13.071761,5.501388,11.705909,1.992349,94.919273,1.971531e+05,5.585600e+04,29185.391589,4.871611e+04
std,33392.640532,10352.132790,10352.132790,10354.689075,290.651130,1.098949e+05,20.480562,21.806311,5.977082,22735.701183,...,4.983926,7.922110,3.450848,5.974131,1.857690,8.640351,1.940234e+05,5.591184e+04,26975.924435,5.049259e+04
min,0.000000,1000.000000,1000.000000,725.000000,30.640000,0.000000e+00,0.000000,1.000000,0.000000,0.000000,...,0.000000,2.000000,0.000000,0.000000,0.000000,16.700000,0.000000e+00,0.000000e+00,0.000000,0.000000e+00
25%,28918.500000,9000.000000,9000.000000,9000.000000,264.940000,4.900000e+04,12.210000,19.000000,8.000000,6166.000000,...,5.000000,7.000000,3.000000,7.000000,1.000000,92.900000,5.810000e+04,2.168000e+04,11100.000000,1.606000e+04
50%,57837.000000,15000.000000,15000.000000,15000.000000,401.530000,7.000000e+04,18.480000,34.000000,11.000000,12072.000000,...,7.000000,11.000000,5.000000,11.000000,2.000000,100.000000,1.294000e+05,4.078100e+04,21500.000000,3.613000e+04
75%,86755.500000,24000.000000,24000.000000,24000.000000,648.100000,1.000000e+05,25.790000,53.000000,15.000000,21914.000000,...,11.000000,17.000000,7.000000,15.000000,3.000000,100.000000,2.874550e+05,7.067000e+04,38600.000000,6.564050e+04
max,115674.000000,40000.000000,40000.000000,40000.000000,1676.230000,9.000000e+06,999.000000,176.000000,72.000000,652794.000000,...,70.000000,98.000000,43.000000,72.000000,19.000000,100.000000,7.365708e+06,1.295455e+06,509400.000000,1.587274e+06

Data Cleaning:

In [49]:
# remove all current loans 
df = df[df.loan_status != 'Current']

# drop numerical columns if 20% of it or more are zeros
df = df.loc[:, (df==0).mean() < .25]

# drop columns if almost 25% of it or more are null values
df = df.dropna(thresh = 3757, axis=1)# 25% of the data 

# drop columns with a redundant value 
nunique = df.apply(pd.Series.nunique)
cols_to_drop = nunique[nunique == 1].index
df = df.drop(cols_to_drop, axis=1)

#Replace empty/null values with a space
Replace =df.fillna(" ")
Replace.isnull().sum()

Column                        0
loan_amnt                     0
funded_amnt                   0
funded_amnt_inv               0
term                          0
int_rate                      0
installment                   0
grade                         0
emp_length                    0
home_ownership                0
annual_inc                    0
verification_status           0
issue_d                       0
loan_status                   0
purpose                       0
addr_state                    0
dti                           0
earliest_cr_line              0
open_acc                      0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
last_pymnt_d                  0
last_pymnt_amnt               0
last_credit_pull_d            0
                             ..
il_util                       0
open_rv_24m                   0
max_bal_bc                    0
all_util                      0
total_rev_hi_lim              0
acc_open_past_24mths          0
avg_cur_bal                   0
bc_open_to_buy                0
bc_util                       0
mo_sin_old_il_acct            0
mo_sin_old_rev_tl_op          0
mo_sin_rcnt_rev_tl_op         0
mo_sin_rcnt_tl                0
mths_since_recent_bc          0
mths_since_recent_inq         0
num_actv_bc_tl                0
num_actv_rev_tl               0
num_bc_sats                   0
num_bc_tl                     0
num_il_tl                     0
num_op_rev_tl                 0
num_rev_accts                 0
num_rev_tl_bal_gt_0           0
num_sats                      0
num_tl_op_past_12m            0
pct_tl_nvr_dlq                0
tot_hi_cred_lim               0
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
dtype: int64

In [51]:
#shape.df()

In [39]:
df.to_csv('Loan.csv')

In [40]:
Final_data = pd.read_csv('Loan.csv')
Final_data.head()

,Unnamed: 0,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,7,7,10000,10000,10000,60 months,12.40%,224.48,NaN,NaN,...,4,7,2,7,0,100.0,176439,37523,17000,57439
1,51,51,15000,15000,15000,60 months,17.97%,380.66,NaN,9.0,...,7,7,5,8,4,100.0,37222,23300,16400,14822
2,80,80,35000,35000,35000,60 months,13.08%,797.80,NaN,1.0,...,10,11,6,14,2,100.0,399376,131350,32700,130876
3,135,135,17500,17500,17500,36 months,17.19%,625.58,NaN,5.0,...,6,6,5,12,0,92.6,131463,141781,17400,113163
4,146,146,13750,13750,13750,36 months,28.80%,574.71,NaN,NaN,...,6,7,6,6,2,87.5,19200,16814,15400,0

Data Transformation: 
> Grade - Borrower's grade given basing on his/her past history - encoded to numerical values.
> home_ownership - this is feature in the dataset which had to be encoded to numerical values.
> Emp_Length - this feature was not formatted properly. It has some values which was in the format like "10+years","5years"...etc. we changed them to numerical values in the below cell.

In [12]:
# change employment length to numeric
map = {"n/a":0, "< 1 ":1, "1 ":1, "2 ":2, "3 ":3, "4 ":4, "5 ":5, "6 ":6, "7 ":7, "8 ":8, "9 ":9, "10+ ":10}
df.emp_length = df.emp_length.str.replace("years","")
df.emp_length = df.emp_length.str.replace("year","")
df.emp_length.replace(map, inplace=True)
df.emp_length.value_counts()

10.0    1500
1.0      876
2.0      387
3.0      360
5.0      295
4.0      251
6.0      197
7.0      180
8.0      147
9.0       95
Name: emp_length, dtype: int64

In [13]:
df.head()

,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,home_ownership,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
7,7,10000,10000,10000,60 months,12.40%,224.48,B,NaN,MORTGAGE,...,4,7,2,7,0,100.0,176439,37523,17000,57439
51,51,15000,15000,15000,60 months,17.97%,380.66,D,9.0,RENT,...,7,7,5,8,4,100.0,37222,23300,16400,14822
80,80,35000,35000,35000,60 months,13.08%,797.80,B,1.0,MORTGAGE,...,10,11,6,14,2,100.0,399376,131350,32700,130876
135,135,17500,17500,17500,36 months,17.19%,625.58,C,5.0,RENT,...,6,6,5,12,0,92.6,131463,141781,17400,113163
146,146,13750,13750,13750,36 months,28.80%,574.71,D,NaN,MORTGAGE,...,6,7,6,6,2,87.5,19200,16814,15400,0

In [14]:
df.to_csv('LoansData.csv')