# Import Libraries:

In [6]:
import pandas as pd
import numpy as np

In [12]:
df = pd.read_csv('Cleaning_Data.csv')
df.head()

,Unnamed: 0,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,0,0,20000,20000,20000,60 months,17.19%,499.10,C,6 years,...,13,33,4,15,5,98.0,75824,31546,33800,21524
1,1,1,21225,21225,21225,60 months,14.74%,502.05,C,10+ years,...,7,7,6,14,2,100.0,747075,209426,53500,128175
2,2,2,5000,5000,5000,36 months,17.97%,180.69,D,NaN,...,6,9,6,8,1,66.7,255738,31615,9400,39938
3,3,3,20000,20000,20000,36 months,8.19%,628.49,A,1 year,...,14,27,9,20,3,95.7,448069,84744,49400,105180
4,4,4,13500,13500,13500,36 months,7.56%,420.31,A,8 years,...,9,11,6,9,1,100.0,40200,9932,25100,0

# Data Transformation


- Grade - Borrower's grade given basing on his/her past history - encoded to numerical values.
- home_ownership - this is feature in the dataset which had to be encoded to numerical values.
- Emp_Length - this feature was not formatted properly. It has some values which was in the format like "10+years","5years"...etc. we changed them to numerical values in the below cell.

In [13]:

# Loan status summary 
df.loan_status.value_counts()

Current               110918
Fully Paid              3608
Late (31-120 days)       468
In Grace Period          327
Late (16-30 days)        256
Charged Off               98
Name: loan_status, dtype: int64

In [14]:
# remove all current loans 
df = df[df.loan_status != 'Current']
df.shape

(4757, 71)

In [15]:
# Loan status summary 
df.loan_status.value_counts()

Fully Paid            3608
Late (31-120 days)     468
In Grace Period        327
Late (16-30 days)      256
Charged Off             98
Name: loan_status, dtype: int64

# Mapping of loans status column:

"Charged Off", "Late (31-120 days)", "In Grace Period", "Late (16-30 days)" : 0

In [16]:
# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  
df= df.replace({"loan_status": di})
df["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}
df= df.replace({"loan_status": newMapping})

In [17]:
# change interest rate to numeric 
df['int_rate'] = df['int_rate'].str.rstrip('%').astype('float')

In [18]:
#change revol_util to numeric 
df['revol_util'] = df['revol_util'].str.rstrip('%').astype('float')

In [19]:
# change employment length to numeric
map = {"n/a":0, "< 1 ":1, "1 ":1, "2 ":2, "3 ":3, "4 ":4, "5 ":5, "6 ":6, "7 ":7, "8 ":8, "9 ":9, "10+ ":10}
df.emp_length = df.emp_length.str.replace("years","")
df.emp_length = df.emp_length.str.replace("year","")
df.emp_length.replace(map, inplace=True)
df.emp_length.value_counts()

10.0    1500
1.0      876
2.0      387
3.0      360
5.0      295
4.0      251
6.0      197
7.0      180
8.0      147
9.0       95
Name: emp_length, dtype: int64

# Mapping of grade column:

'A':7
'B':6
'C':5
'D':4
'E':3
'F':2
'G':1

In [20]:
# change grade to numeric
df['grade'] = df['grade'].map({'A':7,'B':6,'C':5,'D':4,'E':3,'F':2,'G':1})

In [22]:
df.head()

,Unnamed: 0,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
7,7,7,10000,10000,10000,60 months,12.40,224.48,6,NaN,...,4,7,2,7,0,100.0,176439,37523,17000,57439
51,51,51,15000,15000,15000,60 months,17.97,380.66,4,9.0,...,7,7,5,8,4,100.0,37222,23300,16400,14822
80,80,80,35000,35000,35000,60 months,13.08,797.80,6,1.0,...,10,11,6,14,2,100.0,399376,131350,32700,130876
135,135,135,17500,17500,17500,36 months,17.19,625.58,5,5.0,...,6,6,5,12,0,92.6,131463,141781,17400,113163
146,146,146,13750,13750,13750,36 months,28.80,574.71,4,NaN,...,6,7,6,6,2,87.5,19200,16814,15400,0

# Mapping of home_ownership column:

"MORTGAGE":6
"RENT":5
"OWN":4
"OTHER":3
"NONE":2
"ANY":1

In [23]:
# change home ownership to numeric 
df["home_ownership"] = df["home_ownership"].map({"MORTGAGE":6,"RENT":5,"OWN":4,"OTHER":3,"NONE":2,"ANY":1})

In [24]:
df.head()

,Unnamed: 0,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,emp_length,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
7,7,7,10000,10000,10000,60 months,12.40,224.48,6,NaN,...,4,7,2,7,0,100.0,176439,37523,17000,57439
51,51,51,15000,15000,15000,60 months,17.97,380.66,4,9.0,...,7,7,5,8,4,100.0,37222,23300,16400,14822
80,80,80,35000,35000,35000,60 months,13.08,797.80,6,1.0,...,10,11,6,14,2,100.0,399376,131350,32700,130876
135,135,135,17500,17500,17500,36 months,17.19,625.58,5,5.0,...,6,6,5,12,0,92.6,131463,141781,17400,113163
146,146,146,13750,13750,13750,36 months,28.80,574.71,4,NaN,...,6,7,6,6,2,87.5,19200,16814,15400,0

In [25]:
df.home_ownership.value_counts()

6    2484
5    1629
4     616
1      28
Name: home_ownership, dtype: int64

In [58]:
df.to_csv('Data_Transformation1.csv')

In [59]:
dataf = pd.read_csv('Data_Transformation1.csv')
dataf.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,...,num_op_rev_tl,num_rev_accts,num_rev_tl_bal_gt_0,num_sats,num_tl_op_past_12m,pct_tl_nvr_dlq,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
0,0,7,7,7,10000,10000,10000,60 months,12.40,224.48,...,4,7,2,7,0,100.0,176439,37523,17000,57439
1,1,51,51,51,15000,15000,15000,60 months,17.97,380.66,...,7,7,5,8,4,100.0,37222,23300,16400,14822
2,2,80,80,80,35000,35000,35000,60 months,13.08,797.80,...,10,11,6,14,2,100.0,399376,131350,32700,130876
3,3,135,135,135,17500,17500,17500,36 months,17.19,625.58,...,6,6,5,12,0,92.6,131463,141781,17400,113163
4,4,146,146,146,13750,13750,13750,36 months,28.80,574.71,...,6,7,6,6,2,87.5,19200,16814,15400,0

In [60]:
dataf.purpose.value_counts()

1     2512
2      990
3      391
4      361
5      130
6       75
7       72
8       71
9       52
11      48
10      48
12       7
Name: purpose, dtype: int64

In [53]:
# change purpose to numeric 
#df["purpose"] = df["purpose"].map({"renewable_energy":12,"small_business":11,"moving":10,"vacation":9,"car":8,"house":7,"medical":6,"major_purchase":5,"home_improvement":4,"other":3,"credit_card":2,"debt_consolidation":1})

# Categorical Features: (Target)

Notice that the (purpose) column as categorical

That means we need to transform them using dummy variables so sklearn will be able to understand them. Let's do this in one clean step using pd.get_dummies.

# Create a list of 1 element containing the string 'purpose'. Call this list cat_feats.

In [55]:
cat_feats = ['purpose']

# Now use pd.get_dummies(loans,columns=cat_feats,drop_first=True) to create a fixed larger dataframe that has new feature columns with dummy variables. Set this dataframe as final_data.

In [56]:
final_data= pd.get_dummies(df, columns=cat_feats, drop_first=True)

In [57]:
final_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4757 entries, 0 to 4756
Data columns (total 82 columns):
Unnamed: 0                        4757 non-null int64
Unnamed: 0.1                      4757 non-null int64
Column                            4757 non-null int64
loan_amnt                         4757 non-null int64
funded_amnt                       4757 non-null int64
funded_amnt_inv                   4757 non-null int64
term                              4757 non-null object
int_rate                          4757 non-null float64
installment                       4757 non-null float64
grade                             4757 non-null int64
emp_length                        4288 non-null float64
home_ownership                    4757 non-null int64
annual_inc                        4757 non-null float64
verification_status               4757 non-null object
issue_d                           4757 non-null object
loan_status                       4757 non-null object
addr_state                        4757 non-null object
dti                               4745 non-null float64
earliest_cr_line                  4757 non-null object
mths_since_last_delinq            2015 non-null float64
open_acc                          4757 non-null int64
revol_bal                         4757 non-null int64
revol_util                        4743 non-null float64
total_acc                         4757 non-null int64
initial_list_status               4757 non-null object
out_prncp                         4757 non-null float64
out_prncp_inv                     4757 non-null float64
total_pymnt                       4757 non-null float64
total_pymnt_inv                   4757 non-null float64
total_rec_prncp                   4757 non-null float64
total_rec_int                     4757 non-null float64
last_pymnt_d                      4522 non-null object
last_pymnt_amnt                   4757 non-null float64
next_pymnt_d                      1051 non-null object
last_credit_pull_d                4757 non-null object
application_type                  4757 non-null object
tot_cur_bal                       4757 non-null int64
open_act_il                       4757 non-null int64
mths_since_rcnt_il                4593 non-null float64
total_bal_il                      4757 non-null int64
il_util                           3941 non-null float64
open_rv_24m                       4757 non-null int64
max_bal_bc                        4757 non-null int64
all_util                          4753 non-null float64
total_rev_hi_lim                  4757 non-null int64
acc_open_past_24mths              4757 non-null int64
avg_cur_bal                       4756 non-null float64
bc_open_to_buy                    4667 non-null float64
bc_util                           4663 non-null float64
mo_sin_old_il_acct                4593 non-null float64
mo_sin_old_rev_tl_op              4757 non-null int64
mo_sin_rcnt_rev_tl_op             4757 non-null int64
mo_sin_rcnt_tl                    4757 non-null int64
mths_since_recent_bc              4673 non-null float64
mths_since_recent_inq             4353 non-null float64
mths_since_recent_revol_delinq    1363 non-null float64
num_actv_bc_tl                    4757 non-null int64
num_actv_rev_tl                   4757 non-null int64
num_bc_sats                       4757 non-null int64
num_bc_tl                         4757 non-null int64
num_il_tl                         4757 non-null int64
num_op_rev_tl                     4757 non-null int64
num_rev_accts                     4757 non-null int64
num_rev_tl_bal_gt_0               4757 non-null int64
num_sats                          4757 non-null int64
num_tl_op_past_12m                4757 non-null int64
pct_tl_nvr_dlq                    4757 non-null float64
tot_hi_cred_lim                   4757 non-null int64
total_bal_ex_mort                 4757 non-null int64
total_bc_limit                    4757 non-null int64
total_il_high_credit_limit        4757 non-null int64
purpose_2                         4757 non-null uint8
purpose_3                         4757 non-null uint8
purpose_4                         4757 non-null uint8
purpose_5                         4757 non-null uint8
purpose_6                         4757 non-null uint8
purpose_7                         4757 non-null uint8
purpose_8                         4757 non-null uint8
purpose_9                         4757 non-null uint8
purpose_10                        4757 non-null uint8
purpose_11                        4757 non-null uint8
purpose_12                        4757 non-null uint8
dtypes: float64(25), int64(35), object(11), uint8(11)
memory usage: 2.6+ MB

In [45]:
final_data.to_csv('finalData.csv')

In [46]:
final_data1 = pd.read_csv('finalData.csv')
final_data1.head()

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Column,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,...,purpose_3,purpose_4,purpose_5,purpose_6,purpose_7,purpose_8,purpose_9,purpose_10,purpose_11,purpose_12
0,0,7,7,7,10000,10000,10000,60 months,12.40,224.48,...,0,0,0,0,0,0,0,0,0,0
1,1,51,51,51,15000,15000,15000,60 months,17.97,380.66,...,0,0,0,0,0,0,0,0,0,0
2,2,80,80,80,35000,35000,35000,60 months,13.08,797.80,...,0,0,0,0,0,0,0,0,0,0
3,3,135,135,135,17500,17500,17500,36 months,17.19,625.58,...,0,0,0,0,0,0,0,0,0,0
4,4,146,146,146,13750,13750,13750,36 months,28.80,574.71,...,0,0,0,0,0,0,0,0,0,0

In [38]:
final_data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4757 entries, 0 to 4756
Data columns (total 82 columns):
Unnamed: 0                        4757 non-null int64
Unnamed: 0.1                      4757 non-null int64
Column                            4757 non-null int64
loan_amnt                         4757 non-null int64
funded_amnt                       4757 non-null int64
funded_amnt_inv                   4757 non-null int64
term                              4757 non-null object
int_rate                          4757 non-null float64
installment                       4757 non-null float64
grade                             4757 non-null int64
emp_length                        4288 non-null float64
home_ownership                    4757 non-null int64
annual_inc                        4757 non-null float64
verification_status               4757 non-null object
issue_d                           4757 non-null object
loan_status                       4757 non-null object
addr_state                        4757 non-null object
dti                               4745 non-null float64
earliest_cr_line                  4757 non-null object
mths_since_last_delinq            2015 non-null float64
open_acc                          4757 non-null int64
revol_bal                         4757 non-null int64
revol_util                        4743 non-null float64
total_acc                         4757 non-null int64
initial_list_status               4757 non-null object
out_prncp                         4757 non-null float64
out_prncp_inv                     4757 non-null float64
total_pymnt                       4757 non-null float64
total_pymnt_inv                   4757 non-null float64
total_rec_prncp                   4757 non-null float64
total_rec_int                     4757 non-null float64
last_pymnt_d                      4522 non-null object
last_pymnt_amnt                   4757 non-null float64
next_pymnt_d                      1051 non-null object
last_credit_pull_d                4757 non-null object
application_type                  4757 non-null object
tot_cur_bal                       4757 non-null int64
open_act_il                       4757 non-null int64
mths_since_rcnt_il                4593 non-null float64
total_bal_il                      4757 non-null int64
il_util                           3941 non-null float64
open_rv_24m                       4757 non-null int64
max_bal_bc                        4757 non-null int64
all_util                          4753 non-null float64
total_rev_hi_lim                  4757 non-null int64
acc_open_past_24mths              4757 non-null int64
avg_cur_bal                       4756 non-null float64
bc_open_to_buy                    4667 non-null float64
bc_util                           4663 non-null float64
mo_sin_old_il_acct                4593 non-null float64
mo_sin_old_rev_tl_op              4757 non-null int64
mo_sin_rcnt_rev_tl_op             4757 non-null int64
mo_sin_rcnt_tl                    4757 non-null int64
mths_since_recent_bc              4673 non-null float64
mths_since_recent_inq             4353 non-null float64
mths_since_recent_revol_delinq    1363 non-null float64
num_actv_bc_tl                    4757 non-null int64
num_actv_rev_tl                   4757 non-null int64
num_bc_sats                       4757 non-null int64
num_bc_tl                         4757 non-null int64
num_il_tl                         4757 non-null int64
num_op_rev_tl                     4757 non-null int64
num_rev_accts                     4757 non-null int64
num_rev_tl_bal_gt_0               4757 non-null int64
num_sats                          4757 non-null int64
num_tl_op_past_12m                4757 non-null int64
pct_tl_nvr_dlq                    4757 non-null float64
tot_hi_cred_lim                   4757 non-null int64
total_bal_ex_mort                 4757 non-null int64
total_bc_limit                    4757 non-null int64
total_il_high_credit_limit        4757 non-null int64
purpose_credit_card               4757 non-null int64
purpose_debt_consolidation        4757 non-null int64
purpose_home_improvement          4757 non-null int64
purpose_house                     4757 non-null int64
purpose_major_purchase            4757 non-null int64
purpose_medical                   4757 non-null int64
purpose_moving                    4757 non-null int64
purpose_other                     4757 non-null int64
purpose_renewable_energy          4757 non-null int64
purpose_small_business            4757 non-null int64
purpose_vacation                  4757 non-null int64
dtypes: float64(25), int64(46), object(11)
memory usage: 3.0+ MB

In [61]:
final_data1.purpose_8.value_counts()

0    4686
1      71
Name: purpose_8, dtype: int64