# Import Libraries

In [3]:
import pandas as pd
import numpy as np
#import matplotlib.pyplot as plt

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

from sklearn.model_selection import train_test_split # Split data

#Models
from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler   # Feature Scaling for RF



from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV

from sklearn.model_selection import train_test_split

import sklearn 
from sklearn.metrics import classification_report

from sklearn.model_selection import cross_val_score

In [4]:
#1
credit_card = pd.read_csv('credit_card.csv')
credit_card.head()

,loan_status,int_rate,purpose,addr_state,funded_amnt,installment,emp_length,annual_inc,last_pymnt_amnt,num_actv_rev_tl,num_sats,avg_cur_bal
0,Fully Paid,12.40%,credit_card,GA,10000,224.48,NaN,38000.0,10163.74,2,7,19266.0
1,Fully Paid,28.80%,credit_card,OH,13750,574.71,NaN,17808.0,13861.98,6,6,2802.0
2,Fully Paid,20.00%,credit_card,NY,26100,691.50,10+ years,68000.0,26779.08,17,22,19241.0
3,Fully Paid,20.00%,credit_card,NV,13000,483.13,1 year,30000.0,13052.72,6,8,2446.0
4,Fully Paid,7.02%,credit_card,NY,7000,216.21,7 years,79950.0,7030.03,3,8,17041.0

In [5]:
# Loan status summary 
credit_card.loan_status.value_counts()

Fully Paid            771
Late (31-120 days)     91
In Grace Period        64
Late (16-30 days)      59
Charged Off             5
Name: loan_status, dtype: int64

In [9]:
# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  
df= df.replace({"loan_status": di})
df["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}
df= df.replace({"loan_status": newMapping})


# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  
credit_card= credit_card.replace({"loan_status": di})
credit_card["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}
credit_card= credit_card.replace({"loan_status": newMapping})

TypeError: Cannot compare types 'ndarray(dtype=int64)' and 'str'