# Import Libraries:

In [ ]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split # Split data

from sklearn import model_selection
from sklearn.metrics import accuracy_score


from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler


from sklearn.metrics import classification_report

from sklearn.model_selection import cross_val_score

In [2]:
df_alldata = pd.read_csv('Fulldataset.csv')

In [3]:
df_alldata.head()

,loan_status,int_rate,purpose,addr_state,funded_amnt,installment,emp_length,annual_inc,last_pymnt_amnt,num_actv_rev_tl,num_sats,avg_cur_bal
0,Fully Paid,12.40%,credit_card,GA,10000,224.48,NaN,38000.0,10163.74,2,7,19266.0
1,Fully Paid,17.97%,debt_consolidation,FL,15000,380.66,9 years,45000.0,15157.24,5,8,3329.0
2,Fully Paid,13.08%,debt_consolidation,VA,35000,797.80,< 1 year,125890.0,35067.40,6,14,28648.0
3,Fully Paid,17.19%,debt_consolidation,MO,17500,625.58,5 years,82000.0,17955.12,5,12,11815.0
4,Fully Paid,28.80%,credit_card,OH,13750,574.71,NaN,17808.0,13861.98,6,6,2802.0

# split data based on different types of loan

# 1- credit_card.
# 2- debt_Consolidation.
# 3- home_improvement
# 4- major_purchase
# 5- medical
# 6- house
# 7- car
# 8- vacation
# 9- moving
# 10-small_business
# 11-renewable_energy
# 12- other

In [106]:
#1
credit_card1 = pd.read_csv('credit_card.csv')
credit_card1.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,0,10000,10000,12.40,224.48,6,NaN,38000.0,Fully Paid,credit_card,GA,10163.74,19266.0,2
1,4,13750,13750,28.80,574.71,4,NaN,17808.0,Fully Paid,credit_card,OH,13861.98,2802.0,6
2,9,26100,26100,20.00,691.50,4,10.0,68000.0,Fully Paid,credit_card,NY,26779.08,19241.0,17
3,16,13000,13000,20.00,483.13,4,1.0,30000.0,Fully Paid,credit_card,NV,13052.72,2446.0,6
4,21,7000,7000,7.02,216.21,7,7.0,79950.0,Fully Paid,credit_card,NY,7030.03,17041.0,3

In [6]:
#2
debt_Consolidation = pd.read_csv('debt_consolidation.csv')
debt_Consolidation.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,1,15000,15000,17.97,380.66,4,9.0,45000.0,Fully Paid,debt_consolidation,FL,15157.24,3329.0,5
1,2,35000,35000,13.08,797.80,6,1.0,125890.0,Fully Paid,debt_consolidation,VA,35067.40,28648.0,6
2,3,17500,17500,17.19,625.58,5,5.0,82000.0,Fully Paid,debt_consolidation,MO,17955.12,11815.0,5
3,5,10000,10000,13.90,341.30,5,10.0,90000.0,Fully Paid,debt_consolidation,NY,10153.57,4943.0,3
4,6,2400,2400,7.56,74.73,7,1.0,45000.0,Fully Paid,debt_consolidation,MD,2402.57,17207.0,3

In [7]:
#3
home_improvement = pd.read_csv('home_improvement.csv')
home_improvement.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,19,14000,14000,20.00,520.30,4,10.0,170000.0,Fully Paid,home_improvement,CA,14155.56,46017.0,9
1,40,10000,10000,7.02,308.87,7,1.0,195000.0,Fully Paid,home_improvement,NY,10104.13,34727.0,5
2,59,4000,4000,12.40,133.63,6,2.0,68500.0,Charged Off,home_improvement,CA,0.00,716.0,3
3,96,22000,22000,8.19,691.33,7,10.0,100000.0,Fully Paid,home_improvement,PA,22145.15,21783.0,9
4,101,14925,14925,16.40,366.13,5,3.0,133500.0,Fully Paid,home_improvement,UT,15202.95,56977.0,4

In [8]:
#4
major_purchase = pd.read_csv('major_purchase.csv')
major_purchase.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,37,3000,3000,11.71,99.23,6,2.0,48000.0,Fully Paid,major_purchase,NC,3007.81,3217.0,4
1,43,13000,13000,7.02,401.53,7,1.0,160000.0,Fully Paid,major_purchase,CA,19.29,20962.0,4
2,79,1100,1100,20.00,40.88,4,5.0,27000.0,Fully Paid,major_purchase,IN,29.58,2045.0,3
3,105,40000,40000,6.46,1225.24,7,4.0,103000.0,Fully Paid,major_purchase,CT,40250.32,44904.0,2
4,164,13000,13000,15.57,313.18,5,2.0,120000.0,Fully Paid,major_purchase,WI,13134.94,34593.0,3

In [9]:
#5 medical

medical = pd.read_csv('medical.csv')
medical.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,76,40000,40000,11.71,1323.04,6,1.0,179000.0,Charged Off,medical,FL,0.00,2318.0,2
1,103,1100,1100,7.56,34.25,7,1.0,92000.0,Fully Paid,medical,CA,1109.41,3350.0,2
2,113,8000,8000,11.71,264.61,6,NaN,73336.0,Fully Paid,medical,AZ,8018.22,2126.0,2
3,122,25000,25000,7.56,778.35,7,10.0,74000.0,Fully Paid,medical,WA,25053.81,17893.0,3
4,140,3025,3025,13.08,102.05,6,1.0,60000.0,Fully Paid,medical,GA,3064.42,39965.0,1

In [10]:
#6 house
house = pd.read_csv('house.csv')
house.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,51,11000,11000,13.08,250.74,6,10.0,150000.0,Fully Paid,house,NJ,11028.78,20550.0,1
1,58,15000,15000,14.74,518.08,5,10.0,94000.0,Fully Paid,house,IL,15031.81,18808.0,6
2,81,10000,10000,14.74,236.54,5,7.0,75000.0,Fully Paid,house,NJ,10021.21,7794.0,3
3,243,8000,8000,13.08,269.86,6,3.0,75000.0,Fully Paid,house,MI,8014.97,11838.0,7
4,584,4800,4800,13.08,161.92,6,2.0,0.0,Fully Paid,house,CO,4848.83,41914.0,0

In [11]:
#7 car
car = pd.read_csv('car.csv')
car.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,15,15000,15000,7.56,467.01,7,1.0,115000.0,Fully Paid,car,NJ,15016.54,28186.0,4
1,20,20000,20000,15.57,698.91,5,NaN,46620.0,Fully Paid,car,VT,20045.85,9549.0,0
2,33,1200,1200,15.57,41.94,5,5.0,60000.0,Fully Paid,car,CA,1224.71,4314.0,4
3,133,5000,5000,17.19,178.74,5,1.0,56000.0,Fully Paid,car,CA,5017.95,687.0,7
4,216,14400,14400,22.50,401.82,4,3.0,91920.0,Fully Paid,car,IN,14456.70,4272.0,5

In [12]:
#8 vacation
vacation = pd.read_csv('vacation.csv')
vacation.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,84,2400,2400,20.00,89.20,4,10.0,45000.0,Fully Paid,vacation,ID,2425.33,21672.0,5
1,144,5000,5000,8.81,158.56,7,10.0,124000.0,Fully Paid,vacation,NY,5003.98,19353.0,10
2,310,1500,1500,12.40,50.11,6,10.0,91000.0,Charged Off,vacation,NJ,0.00,14542.0,11
3,374,2400,2400,11.71,79.39,6,2.0,54000.0,Fully Paid,vacation,NJ,2402.58,1041.0,4
4,473,4200,4200,7.02,129.73,7,10.0,100000.0,Fully Paid,vacation,WA,4250.25,6697.0,2

In [240]:
#9 moving
moving0 = pd.read_csv('moving.csv')
moving0.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,53,6000,6000,13.08,202.40,6,NaN,35707.0,Fully Paid,moving,NY,6114.40,1119.0,5
1,299,3000,3000,12.40,100.22,6,6.0,90000.0,Fully Paid,moving,OK,3062.63,17477.0,5
2,480,3000,3000,7.56,93.41,7,2.0,90000.0,Fully Paid,moving,FL,2018.90,7358.0,3
3,616,8000,8000,14.74,276.31,5,1.0,64000.0,Fully Paid,moving,GA,8010.81,143.0,1
4,701,20000,20000,28.90,633.63,3,1.0,45000.0,Fully Paid,moving,GA,20052.98,3342.0,2

In [14]:
#10 small_business
small_business = pd.read_csv('small_business.csv')
small_business.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,46,20000,20000,20.00,743.28,4,1.0,80000.0,Fully Paid,small_business,NJ,20288.89,6.0,11
1,102,14000,14000,12.40,314.26,6,8.0,190000.0,Fully Paid,small_business,WA,14130.20,87775.0,3
2,165,39075,39075,11.02,1279.64,6,1.0,1750000.0,Fully Paid,small_business,MI,39725.82,13251.0,4
3,199,10000,10000,12.40,334.06,6,1.0,30000.0,Charged Off,small_business,ME,334.06,34004.0,3
4,219,20000,20000,10.33,648.45,6,10.0,120000.0,Fully Paid,small_business,MD,20143.47,15014.0,2

In [15]:
#11 renewable_energy
renewable_energy = pd.read_csv('renewable_energy.csv')
renewable_energy.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,454,1500,1500,16.40,53.04,5,1.0,135000.0,Fully Paid,renewable_energy,MI,1520.50,14766.0,4
1,562,1000,1000,22.50,38.45,4,3.0,40000.0,Fully Paid,renewable_energy,NY,858.76,3744.0,2
2,978,4275,4275,11.02,140.00,6,5.0,116129.0,Fully Paid,renewable_energy,FL,27.05,19748.0,9
3,1126,10000,10000,12.40,334.06,6,2.0,48000.0,Fully Paid,renewable_energy,CA,9886.65,1029.0,2
4,3312,1200,1200,27.27,49.17,3,10.0,68000.0,Fully Paid,renewable_energy,CT,1161.06,4434.0,8

In [17]:
#12 other
other =pd.read_csv('other.csv')
other.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,8,10000,10000,6.46,306.31,7,8.0,59000.0,Fully Paid,other,TX,10009.50,14765.0,1
1,12,8000,8000,16.40,282.84,5,2.0,46000.0,Fully Paid,other,TN,8019.32,12189.0,2
2,17,3600,3600,16.40,127.28,5,NaN,46000.0,Fully Paid,other,NC,3611.97,2632.0,3
3,18,10500,10500,11.71,347.30,6,3.0,100000.0,Fully Paid,other,IL,10517.08,666.0,3
4,23,14000,14000,17.19,349.37,5,1.0,60000.0,Fully Paid,other,MI,14034.63,4517.0,3

# credit_card dataset

In [107]:
credit_card1.head()

,Column,loan_amnt,funded_amnt,int_rate,installment,grade,emp_length,annual_inc,loan_status,purpose,addr_state,last_pymnt_amnt,avg_cur_bal,num_actv_rev_tl
0,0,10000,10000,12.40,224.48,6,NaN,38000.0,Fully Paid,credit_card,GA,10163.74,19266.0,2
1,4,13750,13750,28.80,574.71,4,NaN,17808.0,Fully Paid,credit_card,OH,13861.98,2802.0,6
2,9,26100,26100,20.00,691.50,4,10.0,68000.0,Fully Paid,credit_card,NY,26779.08,19241.0,17
3,16,13000,13000,20.00,483.13,4,1.0,30000.0,Fully Paid,credit_card,NV,13052.72,2446.0,6
4,21,7000,7000,7.02,216.21,7,7.0,79950.0,Fully Paid,credit_card,NY,7030.03,17041.0,3

In [167]:
# drop columns
credit_card1.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

In [169]:
# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

credit_card11= credit_card1.replace({"loan_status": di})
credit_card1["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [171]:
credit_card11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 990 entries, 0 to 989
Data columns (total 10 columns):
loan_amnt          990 non-null int64
funded_amnt        990 non-null int64
int_rate           990 non-null float64
installment        990 non-null float64
grade              990 non-null int64
annual_inc         990 non-null float64
loan_status        990 non-null int64
last_pymnt_amnt    990 non-null float64
avg_cur_bal        990 non-null float64
num_actv_rev_tl    990 non-null int64
dtypes: float64(5), int64(5)
memory usage: 77.4 KB

# Assign predictors and target (x,y)

In [172]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=credit_card11['loan_status']
X = credit_card11.drop('loan_status', axis=1)

# Split Data to train and test

In [173]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

# Fitting Random Forest model for Credit_Card dataset, I chose this model because it is the highest accuracy of other models that I have tried before

In [175]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9343434343434344

# debt_Consolidation

In [176]:
debt_Consolidation.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

In [177]:
# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

debt_Consolidation1= debt_Consolidation.replace({"loan_status": di})
debt_Consolidation["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [178]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=debt_Consolidation1['loan_status']
X = debt_Consolidation1.drop('loan_status', axis=1)

In [179]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [181]:
debt_Consolidation1.shape

(2512, 10)

In [183]:
X_train.shape

(2009, 9)

In [184]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9681908548707754

# home_improvement

In [185]:

home_improvement.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

home_improvement1= home_improvement.replace({"loan_status": di})
home_improvement["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [186]:

import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=home_improvement1['loan_status']
X = home_improvement1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [187]:
home_improvement1.shape

(361, 10)

In [188]:
X_train.shape

(288, 9)

In [189]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9315068493150684

# major_purchase

In [190]:

major_purchase.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

major_purchase1= major_purchase.replace({"loan_status": di})
major_purchase["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [191]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=major_purchase1['loan_status']
X = major_purchase1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [192]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9230769230769231

# 5- medical

In [193]:

medical.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

medical1= medical.replace({"loan_status": di})
medical["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [194]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=medical1['loan_status']
X = medical1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [195]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8666666666666667

# 6- house

In [196]:

house.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

house1= house.replace({"loan_status": di})
house["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [197]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=house1['loan_status']
X = house1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [198]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8

# car

In [199]:

car.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

car1= car.replace({"loan_status": di})
car["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [200]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=car1['loan_status']
X = car1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [201]:
car.shape

(71, 10)

In [202]:
X_train.shape

(56, 9)

In [204]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9333333333333333

# 8- vacation

In [205]:

vacation.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

vacation1= vacation.replace({"loan_status": di})
vacation["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [206]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=vacation1['loan_status']
X = vacation1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [207]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.8181818181818182

In [209]:
vacation.shape

(52, 10)

# 9- moving

In [241]:

moving0.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

movingdf= moving0.replace({"loan_status": di})
moving0["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [242]:
Replace1 =moving0.fillna("11")
Replace1.isnull().sum()

loan_amnt          0
funded_amnt        0
int_rate           0
installment        0
grade              0
annual_inc         0
loan_status        0
last_pymnt_amnt    0
avg_cur_bal        0
num_actv_rev_tl    0
dtype: int64

In [243]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=Replace1['loan_status']
X = Replace1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [244]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

# 10-small_business

In [245]:

small_business.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

small_business1= small_business.replace({"loan_status": di})
small_business["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [246]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=small_business1['loan_status']
X = small_business1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [247]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.6

# 11-renewable_energy

In [248]:

renewable_energy.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

renewable_energy1= renewable_energy.replace({"loan_status": di})
renewable_energy["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [249]:
import sklearn 
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=renewable_energy1['loan_status']
X = renewable_energy1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [250]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 1.0

In [254]:
renewable_energy.shape

(7, 10)

# 12- other

In [251]:

other.drop(['purpose','addr_state','emp_length','Column'], axis=1, inplace=True)

# change loan status to numeric where 1 are fully paid loans and 0 charged off loans
di = {"Fully Paid":1, "Charged Off":0, "Late (31-120 days)":0, "In Grace Period":0, "Late (16-30 days)":0}  

other1= other.replace({"loan_status": di})
other["loan_status"].value_counts()
newMapping = {1:"Fully Paid", 0:"Charged Off"}

In [252]:
import warnings # ignore warnings
warnings.simplefilter("ignore")      #Assign predictors & target
from sklearn import preprocessing     

y=other1['loan_status']
X = other1.drop('loan_status', axis=1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2,random_state=0)

In [253]:
# Feature Scaling (Normalize x)
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

#RF
clf=RandomForestClassifier(n_estimators=300)

clf.fit(X_train,y_train)

# Make predictions on test data
y_pred=clf.predict(X_test)

from sklearn import metrics
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

Accuracy: 0.9240506329113924